<EditForm Model="@package" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>PackageName: </label>
        <div>
            <InputText @bind-Value="@package.PackageName" class="form-control" />
            <ValidationMessage For="@(() => package.PackageName)" />
        </div>
    </div>

    <div class="form-group">
        <label>PackageAmount: </label>
        <div>
            <InputNumber @bind-Value="@package.PackageAmount" class="form-control" />
            <ValidationMessage For="@(() => package.PackageAmount)" />
        </div>
    </div>

    <div class="form-group">
        <label>PackageDescription: </label>
        <div>
            <InputText @bind-Value="@package.PackageDescription" class="form-control" />
            <ValidationMessage For="@(() => package.PackageDescription)" />
        </div>
    </div>
    <button type="submit" class="btn btn-success btn-block">
        @ButtonText
    </button>
</EditForm>

@code { [Parameter] public Package package { get; set; }
        [Parameter] public string ButtonText { get; set; } = "Save";
        [Parameter] public EventCallback OnValidSubmit { get; set; } }