<EditForm Model="@hotel" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>HotelName: </label>
        <div>
            <InputText @bind-Value="@hotel.HotelName" class="form-control" />
            <ValidationMessage For="@(() => hotel.HotelName)" />
        </div>
    </div>

    <div class="form-group">
        <label>HotelPrice: </label>
        <div>
            <InputNumber @bind-Value="@hotel.HotelPrice" class="form-control" />
            <ValidationMessage For="@(() => hotel.HotelPrice)" />
        </div>
    </div>

    <div class="form-group">
        <label>HotelAddress: </label>
        <div>
            <InputText @bind-Value="@hotel.HotelAddress" class="form-control" />
            <ValidationMessage For="@(() => hotel.HotelAddress)" />
        </div>
    </div>

    <div class="form-group">
        <label>Hotel Check In: </label>
        <div>
            <InputDate @bind-Value="@hotel.HotelCheckIn" class="form-control" />
            <ValidationMessage For="@(() => hotel.HotelCheckIn)" />
        </div>
    </div>

    <div class="form-group">
        <label>Hotel Check Out: </label>
        <div>
            <InputDate @bind-Value="@hotel.HotelCheckOut" class="form-control" />
            <ValidationMessage For="@(() => hotel.HotelCheckOut)" />
        </div>
    </div>


    <button type="submit" class="btn btn-success btn-block">
        @ButtonText
    </button>
</EditForm>

@code { [Parameter] public Hotels hotel { get; set; }
        [Parameter] public string ButtonText { get; set; } = "Save";
        [Parameter] public EventCallback OnValidSubmit { get; set; } }