@page "/Hotels/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]
@inject HttpInterceptorService _interceptor
@implements IDisposable


<h3 class="card-title"> Hotels </h3>
<a href="/Hotels/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Book new hotels
</a>
<br />
<br />
<br />

@if (hotels == null)
{
    <div class="alert alert-info">Loading Hotels...</div>
}

else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>HotelPrice</th>
                <th>Address</th>
                <th>Hotel Check In</th>
                <th>Hotel Check Out</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hotels in hotels)
            {
                <tr>
                    <td>@hotels.HotelName</td>
                    <td>@hotels.HotelPrice</td>
                    <td>@hotels.HotelAddress</td>
                    <td>@hotels.HotelCheckIn.Date.ToString("dd MMMM yyyy")</td>
                    <td>@hotels.HotelCheckOut.Date.ToString("dd MMMM yyyy")</td>
                    <td>
                        <a href="/hotels/view/@hotels.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/hotels/edit/@hotels.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(hotels.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    private List<Hotels> hotels;

    protected async override Task OnInitializedAsync()
    {

        hotels = await _client.GetFromJsonAsync<List<Hotels>>($"{Endpoints.HotelsEndpoint}");

    }

    async Task Delete(int HotelId)
    {
        var hotel = hotels.First(q => q.Id == HotelId);
        var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {hotel.HotelName}?");
        if (confirm)
        {
            await _client.DeleteAsync($"{Endpoints.HotelsEndpoint}/{HotelId}");
            await OnInitializedAsync();
        }
    }
    public void Dispose()
    {
        _interceptor.DisposeEvent();
    }
}
