<EditForm Model="@flight" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>FlightName: </label>
        <div>
            <InputText @bind-Value="@flight.FlightName" class="form-control" />
            <ValidationMessage For="@(() => flight.FlightName)" />
        </div>
    </div>

    <div class="form-group">
        <label>FlightClass: </label>
        <div>
            <InputText @bind-Value="@flight.FlightClass" class="form-control" />
            <ValidationMessage For="@(() => flight.FlightClass)" />
        </div>
    </div>

    <div class="form-group">
        <label>FlightDescription: </label>
        <div>
            <InputText @bind-Value="@flight.FlightDesc" class="form-control" />
            <ValidationMessage For="@(() => flight.FlightDesc)" />
        </div>
    </div>

    <div class="form-group">
        <label>FlightDestination: </label>
        <div>
            <InputText @bind-Value="@flight.FlightDestination" class="form-control" />
            <ValidationMessage For="@(() => flight.FlightDestination)" />
        </div>
    </div>
    <div class="form-group">
        <label>Flight Depart Date: </label>
        <div>
            <InputDate @bind-Value="@flight.FlightDepartDate" class="form-control" />
            <ValidationMessage For="@(() => flight.FlightDepartDate)" />
        </div>
    </div>
    <div class="form-group">
        <label>Flight Return Date: </label>
        <div>
            <InputDate @bind-Value="@flight.FlightReturnDate" class="form-control" />
            <ValidationMessage For="@(() => flight.FlightReturnDate)" />
        </div>
    </div>
    <div class="form-group">
        <label>FlightPrice: </label>
        <div>
            <InputDate @bind-Value="@flight.FlightPrice" class="form-control" />
            <ValidationMessage For="@(() => flight.FlightPrice)" />
        </div>
    </div>



    <button type="submit" class="btn btn-success btn-block">
        @ButtonText
    </button>
</EditForm>

@code { 
    [Parameter] public Flights flight { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; } 
    }